<amplify-authenticator>
  <!-- Authenticated Slot -->
  <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
      <!-- Material Toolbar -->
      <mat-toolbar color="primary" class="app-toolbar">
          <mat-toolbar-row>
              
              <span class="spacer"></span>
              <button mat-button routerLink="" routerLinkActive="active">Main Page (todos)</button>
              <button mat-button routerLink="/mediaowners" routerLinkActive="active">Media Owners</button>
              <button mat-button routerLink="/teams" routerLinkActive="active">Teams</button>
              <button mat-button routerLink="/export-contacts" routerLinkActive="active">Export Contact</button>
              <button mat-button (click)="signOut()" class="sign-out-button">Sign Out ({{user?.signInDetails?.loginId}}'s)</button>
          </mat-toolbar-row>
      </mat-toolbar>
      
     
  </ng-template>
</amplify-authenticator>