<main>
    <h1>Media Owners</h1>
    
    <div class="button-container">
        <input type="file" (change)="onFileSelected($event)" />
        <button mat-flat-button color="accent" (click)="importExcel()">Import</button>
        
    </div>
    
    <div class="button-container">
        <!-- Dropdown for team selection -->
        <mat-form-field appearance="fill">
            <mat-label>Select Team</mat-label>
            <mat-select (selectionChange)="toggleTeam($event.value)">
              <mat-option value="East">East</mat-option>
              <mat-option value="Stagwell">Stagwell</mat-option>
              <mat-option value="West">West</mat-option>
              <mat-option value="Havas"> Havas</mat-option>
              <mat-option value="Nashville">Nashville</mat-option>
            </mat-select>
          </mat-form-field>

           <button mat-raised-button color="primary" (click)="createMediaowner()">+ New</button>
      
        <button mat-raised-button color="primary" (click)="exportToExcel()">Export to Excel</button>
    </div>

    <table *ngIf="filteredMediaowners.length > 0">
        <thead>
            <tr>
                <th>Mediaowner Name</th>
                <th>Contact 1 Name</th>
                <th>Contact 1 Email</th>
                <th>Contact 2 Name</th>
                <th>Contact 2 Email</th>
                <th>Team</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mediaowner of filteredMediaowners">
                <td>
                    <input [(ngModel)]="mediaowner.mediaownername" (blur)="updateMediaowner(mediaowner)" />
                </td>
                <td>
                    <input [(ngModel)]="mediaowner.contact1name" (blur)="updateMediaowner(mediaowner)" />
                </td>
                <td>
                    <input [(ngModel)]="mediaowner.contact1email" (blur)="updateMediaowner(mediaowner)" />
                </td>
                <td>
                    <input [(ngModel)]="mediaowner.contact2name" (blur)="updateMediaowner(mediaowner)" />
                </td>
                <td>
                    <input [(ngModel)]="mediaowner.contact2email" (blur)="updateMediaowner(mediaowner)" />
                </td>
                <td>
                    <span>{{ mediaowner.team }}</span> <!-- Display team as non-editable text -->
                </td>
                <td>
                    <button (click)="deleteMediaowner(mediaowner.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="filteredMediaowners.length === 0">No media owners to display. Please select a team / or add new media owner.</p>
</main>